/* General */
body{
  background-color: #f7f7f7;
  color: #333;
}
img {
  width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  color: #333;
}
  .mdl-card {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .primary-content{
    padding: 1em 4em;
  }
/* Preloader */

.preloader {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}
/* Nav */

.mdl-layout__header--transparent {
.mdl-layout-title,
.mdl-layout__drawer-button,
 .mdl-navigation__link, .mdl-navigation {
  color: #333;
}
.mdl-navigation__link{
  display: inline-block;
}
.mdl-textfield__input{
  color:#333
}
}
/* Articles listing */
.article-listing {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

  article {
    margin: 1em;
  }

}
/* Categories */

.categorie-posts {
  display: flex;
  align-items: stretch;
  flex-flow: row;
  flex-wrap: wrap;
  align-content: space-around;

  article {
    box-sizing: border-box;
    width: 33.333%;
    margin: 0;
    padding-right: calc( 10px/2 );
    padding-left: calc( 10px/2 );
    margin-bottom: 2em;
  }
  .post-thumbnail{
    height: 10em;
  }
  .thumb-blured{
    -webkit-filter: blur(3px);
 -moz-filter: blur(3px);
 -o-filter: blur(3px);
 -ms-filter: blur(3px);
 filter: blur(3px);
  }
}
/* Single Post */

.single-post {
  .title {
    text-align: center;
  }

  .inner-content {
    padding: 3em 1em;
  }

  .thumbnail {
    height: 30em;
    overflow: hidden;
  }

  .thumbnail img {
    width: 100%;
  }

  .relatedPosts{
    display: flex;
    align-items: stretch;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: space-around;
  }
}
/*Sidebar*/

#sidebar {
  padding-left: 2em;
  margin-top: 1.5em;

  aside {
    position: relative;
    margin-bottom: 20px;
    margin-left: 30px;
    padding: 0 30px 10px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    border-style: solid;
    border-width: .05px;
    border-color: #eee;
    overflow: hidden;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  .social li {
    display: inline-block;
  }
  .social img {
    width: 40px;
    height: 40px;
  }


}
